<!doctype html>
<html>
  <head>
    <title>PyMicroBlog | {{location}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <a href="/blog">View Post</a>
    <a href="/newpost">New Post</a>
    {% block content %}
    {% endblock %}

  </body>
</html>